.app {
  width: 100%;
  max-width: 540px;
  margin: 100px auto;
  background: #872d9a;
  border-radius: 10px;
  padding-top: 50px;
}

.title {
  text-align: center;
  color: #ffffff;
  font-size: 32px;
  padding: 30px 20px;
}

.input-wrap {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.input-add {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background: #ececec;
  outline: none;
  flex: 1;
  box-shadow: inset 0 0 0 1px #ddd;
}

.input-add:focus {
  box-shadow: inset 0 0 0 2px #ddd;
  background-color: #ffffff;
}

.contents {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  min-height: 70vh;
}

.sub-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.list-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.btn {
  padding: 12px 20px;
  background: #333;
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: inset 0 0 0 1px #9472a8;
  border: none;
  transition: all ease 0.3s;
}

.btn:hover {
  box-shadow: inset 0 0 0 3px #9472a8;
}

.todo-list li {
  background: #ececec;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px #ddd;
  transition: all ease-in-out 0.3s;
}

.todo-list li:hover {
  background-color: #fff;
  border-color: #4a275e;
}

.empty-list {
  text-align: center;
  color: #666;
  background: #ececec;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px #ddd;
  transition: all ease-in-out 0.3s;
}

.todo-list>li {
  position: relative;
}

.delete-btn {
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  border: none;
}

.todo-list>li:has(input:checked) {
  background: #966ead;
  color: #fff;
}

.filter-wrap {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-btn {
  padding: 5px 8px;
  border: 1px solid #d5d5d5;
  background-color: white;
  border-radius: 10px;
  transition: 0.3s
}

.filter-btn.active {
  background-color: #966ead;
  border: 1px solid #966ead;
  color: white;
}

.edit-btn {
  background-color: transparent;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  border: none;
}

.save-btn {
  position: absolute;
  right: 65px;
  top: 50%;
  transform: translateY(-50%);
  background: #966ead;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 3px 10px;
  font-size: 14px;
}

.cancel-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: #9e9d9d;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 3px 10px;
  font-size: 14px;
}

.edit-input {
  width: calc(100% - 100px);
  padding: 6px 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #7e5d91;
  outline: none;
}

.check-box {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  accent-color: #684c79;
  vertical-align: middle;
}